.containers {
  justify-content: center;
  align-self: center;
}
.backgroudLog {
  background: #421e0f;
  height: 100vh;
  justify-content: center;
  align-self: center;
}

nav {
  a:hover {
    text-decoration: underline;
  }

  a:active {
    text-decoration: underline;
  }
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.lineSeparator {
	border: 0;
	border-top: 1px solid;
}

.lineSeparator2 {
  height: 30rem;
  border-right: 1px solid;
  margin-top: 12rem;
}

.login {
  margin: 0;
  padding: 0;
  margin-top: 7rem;
  text-align: center;

  .loginText {
    margin-bottom: 2rem;
    font-weight: 400;
    font-size: 50px;
    color: #fff;
  }

  .text1 {
    color: #fff;
    margin-bottom: 20px;
  }

  input {
    width: 500px;
    height: 52px;
    left: 1111px;
    // top: 340px;

    background: #FFFFFF;
    border-radius: 4px;
    border: none;
    font-size: 25px;
    padding: 12px 16px 14px;
    margin-bottom: 2rem;
  }

  .button {
    width: 500px;
    height: 64px;
    left: 1111px;
    top: 508px;

    background: #905f45;
    border-radius: 8px;
    border: none;
    margin-top: 2rem;
    font-size: 36px;
    color: #fff;
  }
}

.ng-invalid.ng-touched:not(form) {
  border: 1px solid red;
}

.validation-error {
  color: red;
  font-size: 1.3em;
}
